# Configuración para Despliegue (Neon / Render / Railway)
PORT=8081
SPRING_DATASOURCE_URL=jdbc:postgresql://tu-db-neon:5432/todolist
SPRING_DATASOURCE_USERNAME=tu_usuario
SPRING_DATASOURCE_PASSWORD=tu_contraseña
